@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

:root {
  --clr-primary: #7494ec;
  --clr-navi: #153d77;
  --bg-body: #f4f7fc;
  --clr-gray: #b5b5bd;
  --bg-active: #E9ECEF;
  --clr-white: #ffffff;
}

* {
  list-style-type: none !important;
  text-decoration: none !important;
  padding: 0 !important;
  margin: 0 !important;
}
body {
  background: var(--bg-body) !important;
  font-family: "Inter", sans-serif !important;
  overflow-y: hidden;
}
aside > nav {
  background: var(--clr-white) !important;
  min-width: 15.8rem !important;
  row-gap: 2rem !important;
  padding-inline: .5rem !important;
  overflow-y: auto !important;
  scrollbar-width: none !important;
  transition: .4s all;
}
aside > nav > .judul > h1 {
  background: linear-gradient(to left, var(--clr-navi), var(--clr-primary)) !important;
  background-clip: text !important;
  -webkit-text-fill-color: transparent !important;
}

/** profile-pengguna start */
aside > nav .profile-pengguna {
  color: var(--color-navi) !important;
}
aside > nav .profile-pengguna img {
  width: 4rem !important;
  height: 4rem !important;
  border-radius: 100% !important;
}
aside > nav .profile-pengguna p:nth-child(3) {
  font-size: .8rem !important;
  margin-top: -.3rem !important;
  color: var(--clr-gray) !important;
  text-transform: none !important;
}

/*! list menu style */
aside > nav ul .judul-list {
  display: flex !important;
  align-items: center !important;
  font-size: .8rem !important;
  font-weight: 300 !important;
  color: var(--clr-gray) !important;
  position: relative !important;
  width: 100%;
}
aside > nav ul .judul-list::before {
  content: "" !important;
  display: inline-block !important;
  width: 7% !important;           
  height: .5px !important;
  background-color: #d0cfd1 !important;
  margin-right: 5px !important;
}
aside > nav ul .judul-list::after {
  content: "" !important;
  flex: 1 !important;               
  height: .5px !important;
  background-color: #d0cfd1 !important;
  margin-left: 10px !important;
}
aside > nav > ul {
  padding: 0 !important;
  row-gap: .5rem !important;
}
aside > nav ul li > a {
  padding: .5rem .7rem !important;
  border-radius: .2rem !important;
  transition: .3s all !important;
}
aside > nav ul li > a.aktif {
  background: var(--bg-active) !important; /** untuk hover*/
  color: var(--clr-navi) !important;
}
aside > nav ul li > a:hover,
aside > nav ul li > ul > a:hover {
  color: var(--clr-navi) !important;
}
aside > nav ul li > a,
aside > nav ul li > ul > a {
  color: var(--clr-gray) !important;
}
aside > nav ul li > a > span {
  column-gap: .8rem !important;
}
aside > nav ul li > a > span > i {
  color: var(--clr-navi) !important;
  font-size: 1.1rem !important;
}
aside > nav ul li > a > i {
  font-size: .8rem !important;
}
/*todo: list sub-menu style */
aside > nav ul li > ul {
  margin-left: 2rem !important;
}
aside > nav ul li > ul#sub-menu {
  display: none; /** sub-menu hidden */ 
}
aside > nav ul li > ul > a {
  display: flex !important;
  padding: .5rem .7rem !important;
  font-size: .9rem !important;
  margin-bottom: -.5rem !important;
  transition: .3s all !important;
}
aside > nav ul li > ul > a.aktif {
  color: var(--clr-navi) !important;
}

/*todo: main style start */
main {
  min-height: 100vh !important;
  margin-left: 16rem !important;
  padding: 1.5rem !important;
  font-family: "Plus Jakarta Sans", sans-serif;
}
/*todo: main style end */

main .row > div > div > p:nth-child(1) {
  color: #777781 !important;
  font-weight: 450 !important;
  font-size: 1.2rem !important;
}
main .row .laporan .informasi {
  gap: 1rem !important;
}
main .row .laporan .informasi > i {
  color: var(--clr-primary) !important;
}
main .row .laporan .informasi > span p:nth-child(2) {
  color: #555557 !important;
}

/** right style start */
main .row .perpustakaan > div > div {
  column-gap: 1rem !important;
}
main .row .perpustakaan > .kumpulan-kotak {
  column-gap: .6rem;
}
main .row .perpustakaan > div .kotak {
  background: rgb(219, 230, 235);
  padding: 1rem !important;
}
main .row .perpustakaan > div img {
  width: 3rem !important;
}
main .row .perpustakaan > div > div .data p:first-child {
  color: #000 !important;
  font-weight: 600 !important;
}
/** right style end */

/*todo: table style start */
main .row .col .tabel {
  background: var(--clr-white) !important;
  max-width: 100% !important;
}
main .row .col .tabel > div {
  max-height: 17.5rem !important;
  overflow-y: auto !important;
  overflow-x: hidden !important;
  scrollbar-width: none;
}
main .row .col .tabel > div table {
  width: 100% !important;
}
main .row .col .tabel table thead tr th {
  padding: .5rem !important;
  text-transform: uppercase;
  font-size: .8rem;
}
main .row .col .tabel table tbody tr td {
  padding: .5rem !important;
  font-size: .9rem !important;
}
main .row .col .tabel table tbody tr td img {
  width: 40px !important;
  height: 40px !important;
  object-fit: cover !important;
}
main .row .col .tabel table tbody tr td .info p:last-child {
  font-size: .8rem !important;
  text-transform: none !important;
}
/*todo: table style end */